# Sentiment Analysis -LSTM - IMDB dataset

In [23]:
import numpy as np
import pandas as pd
import tensorflow as tf
from keras.layers import *
from keras.layers.embeddings import *
from keras.preprocessing import *
import matplotlib.pyplot as plt
import re
from sklearn.metrics import *
import nltk

In [33]:
df=pd.read_csv("IMDB Dataset.csv")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [34]:
len(df)

50000

In [35]:
df.size

100000

In [36]:
df.columns

Index(['review', 'sentiment'], dtype='object')

In [28]:
#DATA Preprocessing

In [37]:
import re

def remove_tags(string):
    # Remove HTML tags
    res = re.sub(r"<[^>]*>", "", string)

    # Remove URLs
    res = re.sub(r"https?://\S+", "", res)

    # Remove non-word characters (except whitespace)
    res = re.sub(r"[^\w\s]", "", res)

    # Convert to lowercase
    res = res.lower()

    return res

In [38]:
df['review']=df['review'].apply(lambda cw :remove_tags(cw))

In [39]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [41]:
# removing stopwords 
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ratis\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [43]:
from nltk.corpus import *

In [44]:
stop_words=set(stopwords.words("english"))

In [47]:
df["review"]=df['review'].apply(lambda x:" ".join([word for word in x.split() if word not in (stop_words)]))

In [48]:
df

                                                  review sentiment
0      one reviewers mentioned watching 1 oz episode ...  positive
1      wonderful little production filming technique ...  positive
2      thought wonderful way spend time hot summer we...  positive
3      basically theres family little boy jake thinks...  negative
4      petter matteis love time money visually stunni...  positive
...                                                  ...       ...
49995  thought movie right good job wasnt creative or...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  catholic taught parochial elementary schools n...  negative
49998  im going disagree previous comment side maltin...  negative
49999  one expects star trek movies high art fans exp...  negative

[50000 rows x 2 columns]

#Lemmatization and tokenization

In [56]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ratis\AppData\Roaming\nltk_data...

True

In [57]:
tokenizer=nltk.tokenize.WhitespaceTokenizer()

In [58]:
lemmatizer=nltk.stem.WordNetLemmatizer()

In [59]:
def lemmatize_text(text):
    st=""
    for w in tokenizer.tokenize(text):
        st=st+lemmatizer.lemmatize(w)+" "
    return st

In [60]:
df["review"]=df.review.apply(lemmatize_text)

In [61]:
df

                                                  review sentiment
0      one reviewer mentioned watching 1 oz episode y...  positive
1      wonderful little production filming technique ...  positive
2      thought wonderful way spend time hot summer we...  positive
3      basically there family little boy jake think t...  negative
4      petter matteis love time money visually stunni...  positive
...                                                  ...       ...
49995  thought movie right good job wasnt creative or...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  catholic taught parochial elementary school nu...  negative
49998  im going disagree previous comment side maltin...  negative
49999  one expects star trek movie high art fan expec...  negative

[50000 rows x 2 columns]

In [62]:
#Data visulaization